.bg-train {
	background-color: rgb(27, 26, 26);
}

.bg-autumn {
	background-image: url(../images/content/autumn-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}