mixin about()
	section.about#about
		.container
			.about__flex
				.about__info-block
					.about__photo
					.about__info-table
						.about__info-row
							.about__info-cell.about__info-cell--var Проживаю:
							.about__info-cell.about__info-cell--val Санкт-Петербург
						.about__info-row
							.about__info-cell.about__info-cell--var Возраст:
							.about__info-cell.about__info-cell--val 27 лет
						.about__info-row
							.about__info-cell.about__info-cell--var Родился:
							.about__info-cell.about__info-cell--val 23 февраля 1992

				.about__text-block
					.about__info
						p.about__text Привет, меня зовут
						p.about__name Денис Мольков
						p.about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					
					.about__note
						p.about__note-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!		
						
