
mixin hero()
	section.fullscreen-section.hero#hero
		+header('hero')
		.hero__title
			p.hero__title-desc 
				|Личный сайт
				br 
				|веб разработчика
			h1.hero__title-name
				|Денис
				br 
				|Мольков
		a.hero__scroll-down.js-scrollTo(href='#about')
			p.hero__scroll-down-text Скролл
			+icon('scroll', 'hero__scroll-down-icon')