mixin reviews()
	.reviews
		.container
			h2.reviews__title Что обо мне говорят
			.reviews__slider
				.reviews__slider-content
					.reviews__slide
						p.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
						.reviews__autor
							+image('content/review1.png', 'reviews__autor-photo')
							.reviews__autor-text
								p.reviews__autor-name Ковальчук Дмитрий
								p.reviews__autor-desc Основатель Loftschool