include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap&subset=cyrillic" rel="stylesheet")
		title Portfolio | main page
	body
		.wrapper
			.maincontent

			.bg-train
				.bg-train__container
					.parallax.bg-train__paralax
						+image('content/parallax1.png', 'parallax__img parallax__img--sky')
						+image('content/parallax2.png', 'parallax__img parallax__img--mountains')
						+image('content/parallax3.png', 'parallax__img parallax__img--train')
						+image('content/parallax4.png', 'parallax__img parallax__img--grass')
						+image('content/parallax5.png', 'parallax__img parallax__img--gradient')
					+image('content/parallax6.png', 'bg-matrix')
				+hero()
				+about()
			+skills()
			+works()
			.bg-autumn
				+reviews()
				+contact()
			+footer()